<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathew Cohen Dot Com</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
    window.location = "http://www.theknot.com/us/megan_and_mathew"
  </script>
</head>

<body>
  <div>
    <h1>So here's the thing...</h1>
    <p>With all the fun venue swapping and new job and life being what it is, I didn't have time to make the super awesome website I wanted to. So instead, we're asking that you click the link below to go get all the information and whatnot.</p>
    <p><a href="http://www.theknot.com/us/megan_and_mathew"><h2>Click Here</h2></a></p>
  </div>
</body>

</html>